

.custom_div {
  background-color: var(--header-background);
  margin-left: 24px;
  padding: 40px;
  border-radius: var(--background-border);
}
.upload_pic {
  display: grid;
  grid-template-columns: 1fr 0.8fr 0.9fr;
  padding: 20px;
  border-radius: var(--background-border);
}
.upload_pic p {
  font-size: 12px;
  background-color: var(--mini-background);
  line-height: 20px;
}
.picture {
  width: 40px;
  height: 40px;
  background-color: var(--link-active-background);
}
.image-container {
  cursor: pointer;
  position: relative;
}
.img-after {
  width: 193px;
  height: 193px;
  border-radius: var(--background-border);
  object-fit: cover;
}
.display-after {
  width: 0.8fr;
}
.plus {
  background-color: var(--link-active-background);
}
.caution {
  padding-left: 24px;
}
.formCover {
  padding: 20px;
  margin-top: 24px;
  border-radius: var(--background-border);
}
.form-group {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.form-group input {
  width: 450px;
  margin: 5px;
}
label {
  padding-right: 5px;
  width: 240px;
}
.hover-text {
  position: absolute;
  left: 64%;
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--header-background);
  padding: 70px 0;
  width: 193px;
  height: 193px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.image-container:hover .hover-text {
  opacity: 1;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .upload_pic {
    display: block;
   
  }
  p.caution {
  padding: 0;
  }
  .form-group {
    display: block;
   
  }
  .form-group input {
    width: 255px;
    margin: 5px;
  }
  .hover-text{
    display: none;
  }
}