.started-text {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  /* margin-top: 24px; */
  border-radius: 5px;
}
.started-text h2 {
  padding: 40px 0 24px 0;
}
#description {
  text-align: center;
  line-height: 1.5;
  width: 488px;
  background-color:var(--mini-background) ;
}
hr {
  margin-top: 41px;
  color: #d9d9d9;
}


@media screen and (min-width: 320px) and (max-width: 480px) {

  #description {
   width:255px;
  }
}