.custom_div{
    background-color: var(--header-background);
    margin-left: 24px;
    padding: 40px;
    border-radius: var(--background-border);
   
}
.custom_div p{
  line-height: 48px;
  padding-bottom: 40px;
    
}
.custom_div p,h1{
    background-color: var(--header-background);
}

@media screen and (min-width: 481px) and (max-width: 768px) {

  .custom_div{
    margin:0;
  }
}
