.coverPhone {
  background-color: var(--header-background);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius:var(--background-border);
}
.phone_img {
  align-items: center;
  max-width: 100%; 
  max-height: 100%;
  background-color: var(--header-background);
}
