.add-link {
  padding: 11px 317px;
  border: 1px solid var(--link-color);
  border-radius: 8px;
  color: var(--link-color);
  font-weight: 600;
  background-color: var(--header-background);
}
.add-link:hover{
  background-color: var(--link-active-background);
}
