.content_div {
  width: 237px;
  background-color: var(--link-border);
  position: absolute;

}
.content_div * {
  background-color: var(--link-border);
}
section {
  background-color: blue;
  width: 150px;
  /* margin: 15px 0 0 160px; */
  /* z-index: 1; */
  border-radius: 10px;
  padding: 11px 64px;
  display: flex;
  text-align: center;
  flex-direction: row;
  justify-content: space-between;
}
