.content_div {
  width: 237px;
  background-color: var(--link-border);
}

.pb-20 {
  margin-bottom: 20px;
}
.content_div * {
  background-color: var(--link-border);
}
section {
  width: 150px;
  border-radius: 10px;
  padding: 12px 40px;
  display: flex;
  text-align: center;
  justify-content: space-between;
}
