:root {
  --header-background: #fff;
  --link-color: #633cff;
  --link-active-background: #efebff;
  --background-border:12px;
  --link-border:#d9d9d9;
  --mini-background:#FAFAFA;
}

header {
  display: flex;
  justify-content: space-around;
  padding: 16px 16px 16px 24px;
  border-radius: var(--background-border);
  background-color: var(--header-background);
  margin: 24px;
  
}
header *{
    font-weight: 600;
}
.logo {
  object-fit: contain;
  background-color: var(--header-background);
}
.link,
.profile-details {
  border: none;
  padding: 11px 27px;
  border-radius: 8px;
  background-color: var(--header-background);
}
.active {
  color: var(--link-color);
  background-color: var(--link-active-background);
}

#profile {
  margin: auto;
}
.link:active,
.profile-details:active {
  color: var(--link-color);
  background-color: var(--link-active-background);
}

.profile-details:hover{
  color: var(--link-color);
}
.preview {
  border: 1px solid var(--link-color);
  padding: 11px 27px;
  border-radius: 8px;
  background-color: var(--header-background);
  color: var(--link-color);
}
.preview:hover{
  background-color: var(--link-active-background);
}

