@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Instrument Sans", sans-serif;
  background-color: #fafafa;
}
.grid-section {
  display: grid;
  grid-template-columns: 40% 60%;
  margin: 24px;
}

@media screen and (min-width: 481px) and (max-width: 768px) {

  .grid-section {
    display: block;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .grid-section .custom_div {
    width: 343px;
    padding: 24px;
    margin: 0;
  }
}